spring:
  datasource:
    url: jdbc:mysql://mysql:3306/micro_db?useUnicode=true&characterEncoding=utf8&useSSL=false&createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate-dialect: org.hibernate.dialect.MySQLDialect
      hibernate.format_sql: true
    show-sql: true

server:
  error:
    include-binding-errors: always
    include-message: always
  port: 8081
